.card {
    width: 350px;
    background: #242424;
    color: #fff;
    border-radius: 12px;
    overflow: hidden; /* image corners clipped */
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
    font-family: sans-serif;
    height: 470px;
    display: flex;
    flex-direction: column;
}

.card-image {
    width: 100%;
    height: 220px;
    object-fit: cover;
    flex-shrink: 0;
}

.card-body {
    padding: 1.2rem;
    background: #242424;
}

.card-title {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
    background: #242424;
}

.card-text {
    background: #242424;
    font-size: 0.95rem;
    opacity: 0.8;
    margin-bottom: 1rem;
}

.card-btn {
    background: #3B82F6; /* blue */
    border: none;
    padding: 0.6rem 1.2rem;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
    font-size: 0.95rem;
    transition: 0.2s ease;
}

.card-btn:hover {
    background: #2563EB;
}
.card-btn-dis {
    background: grey; /* greyed out */
    border: none;
    padding: 0.6rem 1.2rem;
    color: #fff;
    border-radius: 6px;
    font-size: 0.95rem;
    opacity: 0.7;
    cursor: not-allowed;
    margin-top: 1rem;
}
