.container {
  max-width: 1200px;     
  margin: 0 auto;        
  padding: 2rem;         
  color: #ADADAD;        
  display: flex;        
  align-items: center;   
  gap: 2.5rem;    
  min-height: 75dvh;       
}

/* Image */
.about-image {
  width: 350px;          
  height: auto;          
  border-radius: 15px;   
  object-fit: cover;     
  flex-shrink: 0;        
}

/* align right */
.about-content {
  flex: 1;
}

/* GREET */
.about-content h2 {
  font-size: 2.2rem;
  font-weight: 700;
  margin: 0 0 0.75rem 0;
  color: #FFF;
  padding-bottom: 20px;
}

/* WHOAMI */
.about-content p {
  margin: 0 0 1rem 0;
  line-height: 1.7;
  font-size: 1.05rem;
  color: #CFCFCF;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Responsiveness */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    text-align: center;   
    gap: 1.25rem;          
  }

  .about-image {
    width: 80%;      
    max-width: 300px;
  }

  .about-content h2 {
    font-size: 1.8rem;
  }

  .about-content p {
    font-size: 1rem;
  }
}
